①$contain.get([path])是contain的基本用法，可以include本服务器中path对应的url。<br/><br/>
##&#32;&#32;提示：path如果以左斜杠"/"开头，则会从sreen目录下开始查找文件，否则会从当前目录下开始查找。<br/><br/>
②$contain.get([path]).setHost([serverHost]) 该方法会将path拼接到serverHost之后，并将得到的新链接include到页面中。<br/>
<br/>
需要注意的是，使用contain是需要避免递归引用，如在b页面中使用了\$contain.get('a.htm')，又在a页面中使用了\$contain.get('b.htm')。<br/>
