<a href="$appServer.get('config/introduce.htm')">配置文件说明和示例</a> <br/>
<div class="introText"></div>
<a href="$appServer.get('dir_url/introduce.htm')">目录结构说明和示例</a> <br/>
<a href="$appServer.get('webpages/introduce.htm')">页面制作说明和示例</a> <br/>
<a href="$appServer.get('annotation/introduce.htm')">传参、返回值说明和示例</a> <br/>
<a href="#">nosession技术</a> <br/>

<hr/>
校验码演示:<br/>
<hr/>
表单初始化/校验/处理演示入口：<br>
<a href="$appServer.get('/login/register.htm')">用户注册</a><br/>
<a href="$appServer.get('/login/login.htm')">用户登录</a><br/>

<hr/>
文件上传下载演示:<br/>
<a href="$appServer.get('/upload/simple.htm')">文件上传</a><br/>
<a href="$appServer.get('/download/excel.htm')">excel文件下载</a><br/>
<hr/>
<a href="$appServer.get('/cache/demo.htm')">velocity页面cache</a><br/>
<hr/>
分页演示入口：<br>
<a href="$appServer.get('/query/form_page.htm')">form提交分页</a><br/>
<a href="$appServer.get('/query/seo_page.htm')">seo化静态链接分页</a><br/>
<hr/>
<a href="$appServer.get('/i18n/index.htm')">国际化</a><br/>
<hr/>
页面输出统计：<br>
<a href="$appServer.get('/report/output.htm')">统计</a><br/>
<hr/>
如果在web-bean.xml中开启了ResponseOutputBufferFilter的etagEnable(http cache)时，<br/>
页面带有如校验码之类的动态内容，如果需要取消http cache,则在vm上使用
\$request.setAttribute('page_no_cache','true')
$request.setAttribute('page_no_cache','true')<br/>
<hr/>
js rsa加密例子:<a href="$appServer.get('/rsa.htm')">点我</a>

