<h2 class="melody-d-title">配置文件说明和示例</h2>


<br/>
<details open>
    <summary>
        <h><font size="5px">*.properties配置文件</font> </h>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("properties/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h><font size="5px">xml配置文件</font> </h>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("xml/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h><font size="5px">log4j的配置</font> </h>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("log4j/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h><font size="5px">velocity的配置</font> </h>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("velocity/index.htm")
    </div>
</details>

<br/>
<details open>
    <summary>
        <h><font size="5px">web.xml</font> </h>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
        $contain.get("webxml/index.htm")
    </div>
</details>
