<h2 class="melody-d-title">页面制作说明和示例</h2>
<p>melody建议使用者使用Velocity构建页面，使用contain方法拼接页面。</p>
<br/>
<details close>
    <summary>
        <h3>Velocity模板语言</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get("velocity.htm")
    </div>
</details>
<br/>

<details class="menu" close>
    <summary>
        <h3>用contain拼接页面</h3>
    </summary>
    <div style="margin-left: 5%;">
        $contain.get("contain.htm")
    </div>
</details>

<br/>
<details class="menu" close>
    <summary>
        <h3>jsCode</h3>
    </summary>
    <div style="margin-left: 5%;">

    </div>
</details>

<br/>
<details class="menu" close>
    <summary>
        <h><font size="5px">示例</font> </h>
    </summary>
    <br/>
    <div style="margin-left: 5%;">
       <a class="m-detail-link" href="$appServer.get('/webpages/demo/questionStart.htm')">bigpipe使用实例</a>
    </div>
</details>
