 系统的全局配置文件默认的路径是WEB-INF/conf/server.properties<br/>
 但是可以通过WEB-INF/web.xml来设定指定的配置文件路径<br/>
 <context-param><br/>
		<param-name>melodyConfigLocation</param-name><br/>
		<param-value>/WEB-INF/conf/play.properties</param-value><br/>
</context-param><br/>
我们这里指定了play.properties为默认的配置文件路径<br/>
我们通过配置最基础的参数开始我们的项目<br/>
app.server.host=127.0.0.1<br/>
app.server.port=8081<br/>
melody.action.scan=com.eyeieye.melody.demo.web<br/>
system.devMode=true<br/>
template.load.charset=GBK<br/>
web.encoding=GBK<br/>
具体参数的解释，请查看<a href="$appServer.get('/config/properties/list.htm')">关于配置的一些说明</a> <br/>