<p>获得当前日期时间：$!{dateNow}</p>
<p>今天是星期几：$!{weeks}</p>
<p>
<form action="$appServer.get('/utils/demo/DateUtil.htm')" method="get">
    <input type="text" name="afterDays" style="float: left" placeholder="请输入数字"/>天后是星期几:$!{nextWeeks}
    <input type="text" name="beforeDays" style="float: left" placeholder="请输入数字"/>天前是星期几:$!{lastWeeks}
    <input type="submit" value="提交"/>
</form>
</p>